# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.DS_Store

# dependencies
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
**/coverage

# next.js
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
**/.env

# typescript
*.tsbuildinfo
next-env.d.ts

# Logs
logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
\*.local

# Editor directories and files
.vscode/_
!.vscode/extensions.json
.idea
.DS_Store
_.suo
_.ntvs_
_.njsproj
_.sln
\*.sw?
